<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>
<body>
<div class="ui container" style="margin-top: 30px;">
    <h1 class="ui center aligned header">Teendők</h1>
    <form action="/add" method="post" class="ui form">
        <div class="field">
            <label for="title"><h1>Teendő neve</h1></label>
            <input type="text" name="title" id="" placeholder="Írj be egy teendőt...">
            <br>
            <button type="submit" class="ui blue button">Hozzáadás</button>
        </div>
    </form>

    {% for todo in todo_list %}
    <div class="ui segment">
        <p class="ui big header"> {{ todo.id }} | {{ todo.title }} </p>

        {% if todo.complete == False %}
            <span>❌</span>
        {% else %}
            <span>✔️</span>
        {% endif %}

        <a class="ui blue button" href="/update/{{ todo.id }}">Frissítés</a>
        <a class="ui red button" href="/delete/{{ todo.id }}">Törlés</a>
    </div>
    {% endfor %}
</div>
</body>
</html>